<div class="prefooter">
	<div class="container">
		<p>
			Sauf mention contraire, les contenus de ce site sont mis à disposition selon les termes de la licence <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a>.
		</p>
		<p>
			Venez échanger avec nous sur <a href="http://slack.designersethiques.org">http://slack.designersethiques.org</a>, canal #projet_ecoconception.
		</p>
		<p>
			Autrices du guide : <a href="mailto:aureliebaton@gmail.com">Aurélie Baton</a> et <a href="mailto:anne.faubry@gmail.com">Anne Faubry</a>.
		</p>
	</div>
</div>
<footer class="footer" role="contentinfo">
	<a class="navbar-brand" href="/">
		<img src="/asset/images/logo-designersethiques.svg" alt="Designers Ethiques" width="110" height="48">
	</a>
	<div>
		<div class="footer-social">
			<a href="https://slack.designersethiques.org"><img src="/asset/images/slack.svg" alt="Accéder au slack de Designers Ethiques" width="32" height="32"></a>
			<a href="https://www.linkedin.com/company/designers-ethiques"><img src="/asset/images/linkedin.svg" alt="Accéder à la page LinkedIn de Designers Ethiques" width="32" height="32"></a>
			<a href="https://twitter.com/designethique"><img src="/asset/images/twitter.svg" alt="Accéder à la page Twitter de Designers Ethiques" width="32" height="32"></a>
			<a href="https://mastodon.design/@designersethiques"><img src="/asset/images/mastodon.svg" alt="Accéder à la page Mastodon de Designers Ethiques"></a>
			<a href="https://peertube.designersethiques.org/"><img src="/asset/images/peertube.svg" alt="Accéder au Peertube de Designers Ethiques" width="32" height="32"></a>
		</div>
		<div class="footer-links">
			<a href="/plan.html">Plan du site</a> - <a href="/a-propos.html">À propos</a> - <a href="https://designersethiques.org/mentions-legales">Mentions légales</a>
		</div>
	</div>
</footer>