.article {
	:is(h1, h2, h3, h4, h5, h6) {
		letter-spacing: -0.02em;
	}
}

.heading {
	margin-bottom: rem(108px);

	h1 {
		font-family: Helvetica, sans-serif;
		font-style: normal;
		font-size: rem(30px);
	}

	@media (max-width: rem(760px)) {
		margin-bottom: rem(24px);
	}
}

.post {
	max-width: rem(730px);
	margin: 0 auto;
	font-size: rem(22px);

	@media (max-width: rem(760px)) {
		font-size: rem(18px);
	}

	& > *:not(:last-child):not(:is(h2, h3)),
	li {
		margin-bottom: rem(20px);
	}

	& > h2 {
		margin-bottom: rem(48px);
		font-size: rem(28px);

		&:not(:first-child) {
			margin-top: rem(80px);
		}

		@media (max-width: rem(760px)) {
			font-size: rem(25px);
		}
	}

	& > h3 {
		margin-bottom: rem(8px);
		font-size: rem(24px);
		font-style: italic;

		&:not(:first-child) {
			margin-top: rem(48px);
		}
	}

	blockquote {
		margin-bottom: rem(20px);
		margin-left: rem(30px);
		border-left: rem(5px) solid #000;
		padding-left: rem(20px);
	}

	figure {
		margin-bottom: rem(24px);
	}

	figcaption {
		margin-left: rem(50px);
		font-style: italic;
		font-size: rem(18px);
	}

	ul {
		padding-left: rem(40px);
	}

	.list-unstyled {
		list-style: none;
		padding-left: 0;
	}
}