.card {
	border: rem(3px) solid #000;

	&:not(:first-child) {
		margin-top: rem(80px);
	}
}

.card-title {
	position: relative;
	top: rem(-3px);
	left: rem(-3px);
	padding: rem(12px) rem(20px);
	font-size: rem(30px);
	font-family: Helvetica, sans-serif;
	line-height: 1;
	text-transform: lowercase;
	border: rem(3px) solid #000;
	display: inline-block;
	max-width: 75%;

	h2 {
		display: inline;
		font-size: inherit;
		margin-bottom: 0;
	}
}

.card-body {
	padding: rem(20px);
	margin-top: rem(4px);

	p {
		font-size: rem(24px);
		margin-bottom: rem(8px);
	}
}

.card-footer {
	font-size: rem(12px);
	text-align: right;

	a {
		display: inline-block;
		text-decoration: none;
		padding: rem(5px);
		background: #000;
		color: $yellow;
	}
}