* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
}

img {
	vertical-align: middle;
}

button {
	background: none;
	border: none;
	font-size: inherit;
	cursor: pointer;
	outline: none;
	letter-spacing: inherit;

	&:focus {
		outline: 1px dotted;
	}
}