<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<title>{{title}} - Le guide d’éco-conception de services numériques - Les Designers Éthiques</title>
	<meta name="description" content="{{ description }}" />
	<link rel="stylesheet" type="text/css" href="/asset/styles/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="author" content="Les Designers Ethiques, Aurélie Baton, Anne Faubry" />
	<meta property="og:site_name" content="eco-conception.designersethiques.org" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{title}}" />
	<meta property="og:image" content="https://eco-conception.designersethiques.org/guide/asset/images/card/card-home.png" />
</head>
<body>
    <div class="page page--{{ page.fileSlug }}">
		{% include "_includes/header.njk" %}
		<main class="main" role="main">
			<div class="breadcrumb">
				<p><a href="/">Le guide d’éco-conception de services numériques</a></p>
			</div>
			<article class="article">
				<header class="heading">
					<h1>{{ title }} </h1>
				</header>
				<div class="post">
					{{ content | safe }}
				</div>
			</article>
		</main>
		{% include "_includes/footer.njk" %}
    </div>
</body>
</html>
