<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<title>{{title}} - Le guide d’éco-conception de services numériques - Les Designers Éthiques</title>
	<meta name="description" content="{{ description }}" />
	<link rel="stylesheet" type="text/css" href="/asset/styles/style.css" />
	<link rel="canonical" href="https://eco-conception.designersethiques.org{{ permalink }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="autor" content="Les Designers Ethiques, Aurélie Baton, Anne Faubry" />
    <meta name="autor" content="Les Designers Ethiques, Aurélie Baton, Anne Faubry" />
</head>
<body>
    <div class="page page--{{ page.fileSlug }}">
		{% include "_includes/header.njk" %}
		<main class="main" role="main">
			<div class="breadcrumb">
				<p><a href="/">Le guide d’éco-conception de services numériques</a></p>
			</div>
			<article class="article">
				<header class="heading">
					<h1>{{ title }} </h1>
				</header>
				<div class="post">
					{{ content | safe }}
				</div>
			</article>
		</main>
		{% include "_includes/footer.njk" %}
    </div>
</body>
</html>
